@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using EventiaWebapp.Services
@inject EventsHandler _event

<style>
    .join-button {
        margin: 1rem;
        box-shadow: 5px 5px 9px -2px rgba(0,0,0,0.43);
    }

    .title-size {
        font-size: 1.5rem;
    }
</style>

    @{
        ViewBag.Title = "Events";
    }


<div class="accordion" id="accordionExample">
    @foreach(var item in await _event.GetEvents())
    {
        <div class="accordion-item">
            <h2 class="accordion-header d-flex" id="headingOne">
                <button class="accordion-button collapsed display-3 title-size" type="button" data-bs-toggle="collapse" data-bs-target="#i-@item.Id" aria-expanded="false" aria-controls="i-@item.Id">
                    @item.Title
                </button>
                <a class="btn btn-primary join-button" asp-controller="Event" asp-action="Join" asp-route-id="@item.Id">Join</a>
            </h2>

            <div id="i-@item.Id" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  
                    <p>Description: @item.Description</p>
                    <p>Place: @item.Place</p>
                    <p>Address: @item.Address</p>
                    <p> Date: @item.Date</p>
                    <p>Spots available: @item.Spots_available</p>
                </div>
            </div>
        </div>
    }
    
</div>



