@model EventiaWebapp.Models.Event

@{
    ViewBag.Title = "Join Event";
}

<div class="card text-center card-styling" style="width: 40rem;">
    <div class="card-body">
        <h4 class="card-title display-4">
            Your chosen event: @Model.Title
        </h4>
        <p class="card-text">
        <p>Description: @Model.Description</p>
            <p>Place: @Model.Place</p>
            <p>Address: @Model.Address</p>
            <p>Date: @Model.Date</p>
            <p>Spots available: @Model.Spots_available</p>
        </p>
       <a asp-controller="Event" asp-action="Confirmation" asp-route-id="@Model.Id" class="btn btn-lg btn-dark">Join This Event</a>
    </div>
</div>