@model EventiaWebapp.Models.Event

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<style>
    .card-styling {
        margin: 0 auto;
        background-color: rgba(40, 158, 175, 0.12);
        box-shadow: 5px 5px 9px -2px rgba(0,0,0,0.43);
    }
</style>
<p>
    @Html.DisplayNameFor(e => e.Title);
</p>
<p>
    @Html.DisplayFor(e => e.Title)
</p>
<p>
    @Html.DisplayNameFor(e => e.Description);
    @Html.DisplayFor(e => e.Description)
</p>

<div class="card text-center card-styling" style="width: 40rem;">
    <div class="card-body">
        <h4 class="card-title display-4">
            Your chosen event: @Model.Title
        </h4>
        <p class="card-text">
        <p>Description: @Model.Description</p>
            <p>Place: @Model.Place</p>
            <p>Address: @Model.Address</p>
            <p>Date: @Model.Date</p>
            <p>Spots available: @Model.Spots_available</p>
        </p>
       <a asp-controller="Event" asp-action="Confirmation" asp-route-id="@Model.Id" class="btn btn-lg btn-dark">Join This Event</a>
    </div>
</div>